<%= render "shared/#{@criticable_type}-header", model: @criticable %>

<ul class="details_navbar mb-16">
  <li class="details_navbar__item"><%= link_to "#{@criticable_type[0..-2].capitalize} Details", @criticable %></li>
  <li class="details_navbar__item details_navbar--selected"><%= link_to "Critics (#{@critics.size})", critics_path(criticable: @criticable_type, criticable_id: @criticable.id) %></li>
</ul>

<%= render 'shared/criticable_form', critics: @critics, criticable_type: @criticable_type, criticable_id: @criticable.id %>

<div class="text-center">
  <%= link_to "Back", :back, class: "anchor" %>
</div>
