<section class="section--sm">
  <div class="container">
    <h2 class="heading">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "generic-container" }) do |f| %>
      <div class="flex gap-16 mb-8">
        <div class="input">
          <%= f.label :username, class: "content--xs overline" %>
          <div class="input__container">
            <%= f.text_field :username, autofocus: true, placeholder: "johndoe", class: "input__content" %>
          </div>
            <% if resource.errors.messages[:username].any? %>
              <span class="content--sm input__error-message"><%= resource.errors.messages[:username].join(", ")%></span>
            <% end %>
        </div>
      </div>
      <div class="flex gap-16 mb-8">
        <div class="input">
          <%= f.label :email, class: "content--xs overline" %>
          <div class="input__container">
            <%= f.email_field :email, placeholder: "john@ecample.com", class: "input__content" %>
          </div>
            <% if resource.errors.messages[:email].any? %>
              <span class="content--sm input__error-message"><%= resource.errors.messages[:email].join(", ")%></span>
            <% end %>
        </div>
      </div>
      <div class="flex gap-16 mb-8">
        <div class="input">
          <%= f.label :password, class: "content--xs overline" %>
          <div class="input__container">
            <%= f.password_field :password, placeholder: "******", class: "input__content" %>
          </div>
            <% if resource.errors.messages[:password].any? %>
              <span class="content--sm input__error-message"><%= resource.errors.messages[:password].join(", ")%></span>
            <% end %>
            <% if @minimum_password_length %>
              <span class="content--sm gray-300">(<%= @minimum_password_length %> characters minimum)</span>
            <% end %>
        </div>
      </div>
      <div class="flex gap-16 mb-8">
        <div class="input">
          <%= f.label :password_confirmation, class: "content--xs overline" %>
          <div class="input__container">
            <%= f.password_field :password_confirmation, placeholder: "******", class: "input__content" %>
          </div>
            <% if resource.errors.messages[:password_confirmation].any? %>
              <span class="content--sm input__error-message"><%= resource.errors.messages[:password_confirmation].join(", ")%></span>
            <% end %>
        </div>
      </div>

      <%= f.submit "Sign up", class: "btn btn--primary" %>
    <% end %>

    <%= render "devise/shared/links" %> 
  </div>
</section>
