<h2 class="heading--sm text-center mb-16">Change your password</h2>

<section class="yield-section">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="input mb-16">
      <%= f.label :password, class: "content--xs overline" %>
      <div class="input__container">
        <%= f.password_field :password, placeholder: "********", class: "input__content" %>
      </div>
      <% if resource.errors.messages[:password].any? %>
        <span class="content--sm input__error-message"><%= resource.errors.messages[:password].join(", ")%></span>
      <% end %>
    </div>

    <div class="input mb-16">
      <%= f.label :password_confirmation, class: "content--xs overline" %>
      <div class="input__container">
        <%= f.password_field :password_confirmation, placeholder: "********", class: "input__content" %>
      </div>
      <% if resource.errors.messages[:password_confirmation].any? %>
        <span class="content--sm input__error-message"><%= resource.errors.messages[:password_confirmation].join(", ")%></span>
      <% end %>
    </div>

    <%= f.submit "Change my password", class: "btn btn--primary" %>
  <% end %>
</section>
