<h2 class="heading--sm text-center mb-16">Forgot your password?</h2>

<section class="yield-section">
  <p class="content--sm">Don’t worry. you can receive the instructions to reset your password</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
    <div class="input mb-16">
      <%= f.label :email, class: "content--xs overline" %>
      <div class="input__container">
        <%= f.email_field :email, placeholder: "example@mail.com", class: "input__content" %>
      </div>
      <% if resource.errors.messages[:email].any? %>
        <span class="content--sm input__error-message"><%= resource.errors.messages[:email].join(", ")%></span>
      <% end %>
    </div>

    <%= f.submit "Send", class: "btn btn--primary" %>
  <% end %>
</section>