<%= form_with model: @game, class: "form" do |form| %>
  <div class="input mb-16">
    <%= form.label :name, class: "content--xs overline" %>
    <div class="input__container">
      <%= form.text_field :name, placeholder: "Game title", class: "input__content" %>
    </div>
    <% if game.errors.messages[:name].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:name].join(", ")%></span>
    <% end %>
  </div>
  
  <div class="input mb-16">
    <%= form.label :summary, class: "content--xs overline" %>
    <div class="input__container">
      <%= form.text_area :summary, class: "input__content", placeholder: "About the game..." %>
    </div>
    <% if game.errors.messages[:summary].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:summary].join(", ")%></span>
    <% end %>
  <div>

  <div class="input mb-16">
    <%= form.label :release_date, class: "content--xs overline" %>
    <div class="input__container">
      <%= form.date_field :release_date, class: "input__content", placeholder: "dd/mm/yyyy" %>
    </div>
    <% if game.errors.messages[:release_date].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:release_date].join(", ")%></span>
    <% end %>
  </div>
  
  <div class="input mb-16">
    <%= form.label :rating, class: "content--xs overline" %>
    <div class="input__container">
      <%= form.number_field :rating, in: 0.0..100.0, step: 0.1, class: "input__content", placeholder: "0.0" %>
    </div>
    <% if game.errors.messages[:rating].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:rating].join(", ")%></span>
    <% end %>
  </div>

  <div class="select mb-16">
    <%= form.label :category, class: "content--xs overline" %>
    <%= form.select :category, options_for_select([["Main game", "main_game"], ["Expansion", "expansion"]]), class: "select__input" %>
    <% if game.errors.messages[:category].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:category].join(", ")%></span>
    <% end %>
  </div>

  <div class="select mb-16">
    <%= form.label :parent_id, class: "content--xs overline" %>
    <%= form.collection_select :parent_id, @main_games, :id, :name, prompt: "No Parent", class: "select__input" %>
    <% if game.errors.messages[:parent_id].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:parent_id].join(", ")%></span>
    <% end %>
  </div>
  
  <div class="input mb-16">
    <%= form.label :cover, class: "content--xs overline" %>
    <%= image_tag game.cover, class: "form__img" if game.cover.attached? %>
    <%= form.file_field :cover, class: "input__content" %>
    <% if game.errors.messages[:cover].any? %>
      <span class="content--sm input__error-message"><%= game.errors.messages[:cover].join(", ")%></span>
    <% end %>
  </div>

  <%= form.submit class: "btn btn--primary mb-16" %>
<% end %>

<div class="text-center">
  <%= link_to "Back", :back, class: "anchor" %>
</div>
