<p class="content--xs text-center"><%= game.summary %></p>

<div>
  <p class="content--sm">Genres:</p>
  <div class="btn--relations__container">
    <% genres.each do |genre| %>
      <div class="btn--relations">
        <%= genre.name %>
        <%= link_to image_tag('/icons/cross.png'), remove_genre_path(game, genre_id: genre), method: :delete, class: "btn--relations__icon" if policy(genre).destroy? %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <p class="content--sm">Platforms:</p>
  <div class="btn--relations__container">
    <% platforms.each do |platform| %>
      <div class="btn--relations">
        <%= platform.name %>
        <%= link_to image_tag('/icons/cross.png'), remove_platform_path(game, platform_id: platform), method: :delete, class: "btn--relations__icon" if policy(platform).destroy? %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <p class="content--sm">Developer:</p>
  <div class="btn--relations__container">
    <% developers.each do |developer| %>
      <div class="btn--relations">
        <%= developer.name %>
        <%= link_to image_tag('/icons/cross.png'), remove_developer_path(game, developer_id: developer), method: :delete, class: "btn--relations__icon" if policy(developer).destroy? %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <p class="content--sm">Publisher:</p>
  <div class="btn--relations__container">
    <% publishers.each do |publisher| %>
      <div class="btn--relations">
        <%= publisher.name %>
        <%= link_to image_tag('/icons/cross.png'), remove_publisher_path(game, publisher_id: publisher), method: :delete, class: "btn--relations__icon" if policy(publisher).destroy? %>
      </div>
    <% end %>
  </div>
</div>

<% if policy(game).edit? %>
  <h3 class="heading--xs">Add Relations</h3>

  <%= form_with url: add_genres_path(game), class: "flex gap-8" do |form| %>
    <%= form.collection_select :id_genre, (Genre.all - game.genres), :id, :name, { prompt: "Select genre" }, { class: "select--relations" } %>
    <%= form.submit "Add Genre", class: "btn btn--primary btn--small" %>
  <% end %>

  <%= form_with url: add_platforms_path(game), class: "flex gap-8" do |form| %>
    <%= form.collection_select :id_platform, (Platform.all - game.platforms), :id, :name, { prompt: "Select platform" }, { class: "select--relations" } %>
    <%= form.submit "Add Platform", class: "btn btn--primary btn--small" %>
  <% end %>

  <%= form_with url: "/games/#{game.id}/developer", class: "flex gap-8" do |form| %>
    <%= form.collection_select :develop_id, @developers_list, :id, :name, { prompt: "Select developer" }, { class: "select--relations" } %>
    <%= form.submit "Add Developer", class: "btn btn--primary btn--small" %>
  <% end %>

  <%= form_with url: "/games/#{game.id}/publisher", class: "flex gap-8" do |form| %>
    <%= form.collection_select :publisher_id, @publishers_list, :id, :name, { prompt: "Select publisher" }, { class: "select--relations" } %>
    <%= form.submit "Add Publisher", class: "btn btn--primary btn--small" %>
  <% end %>
<% end %>
