<h1>Edit game</h1>

<% if @game.errors.size.positive? %>
  <div>
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    
  </div>
  <div>
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>
  <div>
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>
    <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0.0..100.0, step: 0.1 %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.select :category, [["Main game", "main_game"], ["Expansion", "expansion"]] %>
  </div>

  <div>
    <%= form.label :parent_id %>

    <%# <%= form.collection_select :parent_id, @main_games, :id, :name, prompt: "No Parent" %> %>
  </div>
  <div>
    <%= form.label :cover%>
    <%= form.file_field :cover %>
  </div>

  <%= form.submit "Update Game" %>
<% end %>
<%= link_to "Back to games", games_path %>