<h1>Games</h1>
<%= link_to "New game", new_game_path %>

  <% @games.each do |game| %>
  <div>
    <div> <%= game.name %></div>
    <div> <%= game.rating %></div>
    <div> <%= game.release_date.year %></div>
    <div> <%= game.summary %></div>
    <div> <%= link_to (image_tag game.cover), game_path(game) %> </div>
    <div> <%= link_to "edit", edit_game_path(game) %> </div>
    <div> <%= link_to "delete", game_path(game), method: :delete %></div>
    <br>
    </div>
  <% end %>
