<div class = "container">
  <h1 class = "heading--sm mb-16" >Games</h1>
  <%= link_to "New Game", new_game_path, class:"btn btn--primary btn--small btn--new mb-16" %>

  <% @games.each do |game| %>
    <div class = "card mb-16">
      <div class = "card--img" > <%= link_to (image_tag game.cover), game_path(game) %> </div>
      <div class = "card--detail-container">
        <div class = "card">
          <div class = "content--lg ">
            <%= game.name %>
            <% if game.release_date %>
              <%= game.release_date.year %>
            <% end %>
          </div>
          <div class = " content--sm  bg-secondary-300 header--content-center white border-radius-4 size--box-rating">
            <%= game.rating %>
          </div>
        </div>
        <div class = "content--xs card--content-text "> <%= game.summary %></div>
        <div class = "card--icons-container content--xs ">
          <div class = " gray-300 "> <%= game.critics.size %> critics </div>
          <div class= "flex justify-end gap-8">
            <%= link_to image_tag('/icons/edit.svg'), edit_game_path(game), :class => "btn btn--only-icon btn--secondary btn--small btn--only-icon-width" %>
            <%= link_to image_tag('/icons/delete.png'), game_path(game), :class => "btn btn--only-icon btn--secondary btn--small btn--only-icon-width", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @games %>
  <div class="content--xs">
    <%= page_entries_info @games, entry_name: 'game' %>
  </div>
</div>
