<h1>New game</h1>

<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>
  <div>
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>
  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0.0..100.0, step: 0.1 %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.select :category, [["Main game", "main_game"], ["Expansion", "expansion"]] %>
  </div>
  <div>
    <%= form.label :cover%>
    <%= form.file_field :cover %>
  </div>
  <div>
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, @main_games, :id, :name, prompt: "Select one game" %>
  </div>

  <%= form.submit "Create Game" %>
<% end %>

<%= link_to 'Back', games_path %>