<%= render "shared/games-header", model: @game %>

<ul class="details_navbar mb-16">
  <li class="details_navbar__item details_navbar--selected"><%= link_to 'Game Details', game_path(@game) %></li>
  <li class="details_navbar__item"><%= link_to "Critics (#{@critics.size})", critics_path(criticable: "games", criticable_id: @game.id) %></li>
</ul>

<%= render("game-detail",
  game: @game,
  genres: @genres,
  platforms: @platforms,
  developers: @developers,
  publishers: @publishers
) %>

<div class="text-center">
  <%= link_to "Back", :back, class: "anchor" %>
</div>
