<h2>Game details</h2>

<div>
  <strong>Name: </strong><span><%= @game.name %></span>
  <strong>Release date: </strong><span><%= @game.release_date.year %></span>
  <strong>Rating: </strong><span><%= @game.rating %></span>
</div>

<h3> Game Details</h3>

<div>
  <strong>Genres: </strong><span><%= @genres.join(", ") %></span>
</div>
<div>
  <strong>Platforms: </strong><span><%= @platforms.join(", ") %></span>
</div>
<div>
  <strong>Developers: </strong><span><%= @developers.map {|dev| dev.name}.join(", ") %></span>
</div>



<% @publishers.each do |publisher| %>
  <div>
    <span><%= publisher.name %></span>
    <%= link_to 'x', remove_publisher_path(@game, publisher_id: publisher), method: :delete %>
  </div>
<% end %>

<h2>Add Relations</h2>

  <%= form_for [@game, @genre] do |form| %>
    <div>
      <%= form.collection_select :id,(Genre.all - @game.genres), :id, :name, prompt: "Select genre" %>
    </div>
    <%= form.submit "Add Genre" %>
  <% end %>
  
  <%= form_for [@game, @platform] do |form| %>
    <div>
      <%= form.collection_select :id,(Platform.all - @game.platforms), :id, :name, prompt: "Select platform" %>
    </div>
    <%= form.submit "Add Platform" %>
  <% end %>

  <%= form_with url: "/games/#{@game.id}/developer" do |form| %>
    <div>
      <%= form.collection_select :develop_id, @developers_list, :id, :name, prompt: "Select developer" %>
    </div>
    <%= form.submit "Add Developer" %>
  <% end %>

  <%= form_with url: "/games/#{@game.id}/publisher" do |form| %>
    <div>
      <%= form.collection_select :publisher_id, @publishers_list, :id, :name, prompt: "Select publisher" %>
    </div>
    <%= form.submit "Add Publisher" %>
  <% end %>

<%= link_to "Back", games_path %>
