<p class="content--xs text-center"><%= company.description %></p>

<h3 class="heading--xs">Games (<%= @company.games_count %>)</h3>

<% @company.games.each do |game| %>
  <div class="card">
    <%= link_to game do %>
      <div class="card__img">
        <%= image_tag game.cover, class: "card__img--cover" %>
      </div>
    <% end %>

    <div class="card__details">
      <%= link_to game do %>
        <div class="flex space-between">
          <div>
            <p class="content--lg"><%= game.name %></p>
            <% if game.release_date %>
              <p class="content--xs"><%= game.release_date.year %></p>
            <% end %>
          </div>

          <% if game.rating %>
            <p class="rating-btn"><%= game.rating %></p>
          <% end %>
        </div>
      <% end %>

      <%= link_to game do %>
        <p class="card__body content--xs">
          <%= game.summary %>
        </p>
      <% end %>

      <div class="flex space-between">
        <%= link_to game do %>
          <p class="content--xs">
            <%= pluralize(game.critics.size, "critic") %>
          </p>
        <% end %>

        <div class="flex gap-8">
          <%= link_to image_tag('/icons/edit.png'), edit_game_path(game), class: "content--xs" if policy(game).edit? %>
          <%= link_to image_tag('/icons/delete.png'), game_path(game), method: :delete, data: { confirm: "Are you sure?" }, class: "content--xs" if policy(game).destroy? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
