<h2 class="heading--sm">Companies</h2>

<%= link_to 'New Company', new_company_path, class:"btn btn--primary btn--small" if policy(@companies.first).create? %>

<% @companies.each do |company| %>
  <div class="card">
    <%= link_to company do %>
      <div class="card__img">
        <%= image_tag company.cover, class: "card__img--cover" %>
      </div>
    <% end %>

    <div class="card__details">
      <%= link_to company do %>
        <div>
          <p class="content--lg"><%= company.name %></p>
          <p class="content--xs">
            <%= company.start_date.year if company.start_date %> 
            - 
            <%= company.country %>
          </p>
        </div>
      <% end %>

      <%= link_to company do %>
        <p class="card__body content--xs">
          <%= company.description %>
        </p>
      <% end %>

      <div class="flex space-between">
        <%= link_to company do %>
          <p class="content--xs">
            <%= pluralize(company.critics.size, "critic") %>
          </p>
        <% end %>

        <div class="flex gap-8">
          <%= link_to image_tag('/icons/edit.png'), edit_company_path(company), class: "content--xs" if policy(company).edit? %>
          <%= link_to image_tag('/icons/delete.png'), company_path(company), method: :delete, data: { confirm: "Are you sure?" }, class: "content--xs" if policy(company).destroy? %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center content--xs">
  <%= paginate @companies %>
  <%= page_entries_info @companies, entry_name: 'company' %>
</div>
