<%= render "shared/companies-header", model: @company %>

<ul class="details_navbar mb-16">
  <li class="details_navbar__item details_navbar--selected"><%= link_to 'Company Details', company_path(@company) %></li>
  <li class="details_navbar__item"><%= link_to "Critics (#{@critics.size})", critics_path(criticable: "companies", criticable_id: @company.id) %></li>
</ul>

<%= render "company-detail", company: @company %>

<div class="text-center">
  <%= link_to "Back", :back, class: "anchor" %>
</div>
