<%= render "shared/companies-header", model: @company %>

<nav>
  <ul>
    <li><%= link_to 'Company Details', company_path(@company) %></li>
    <li><%= link_to "Critics (#{@critics.size})", critics_path(criticable: "companies", criticable_id: @company.id) %></li>
  </ul>
</nav>

<%= render "company-detail", company: @company %>

<%= link_to 'Back', companies_path %>
