<!DOCTYPE html>
<html>
  <head>
    <title>C4CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div>
      <%= yield %>
    </div>

    <footer>
      <div class="footer--container">
        <p class="footer--txt content--sm">© 2021 - Codeable Critics</p>
        <p class="content--sm">Build with <span class="footer--heart">♥</span> by</p>

        <div class="footer--social-container content--xs">
          <div class="footer--social-name"> 
            <%= image_tag "linkdin-vector.svg"%>
            <p> Ever Ponce</p>
          </div>
          <div class="footer--social-name"> 
            <%= image_tag "linkdin-vector.svg" %>
            <p> Mindy León</p>
          </div>
          <div class="footer--social-name"> 
            <%= image_tag "linkdin-vector.svg" %>
            <p> Andrés Scribani</p>
          </div>
          <div class="footer--social-name"> 
            <%= image_tag "linkdin-vector.svg" %>
            <p> Ana Isabel León</p>
          </div> 
        </div>
      </div>
    </footer>
  </body>
</html>
